<div *ngIf="caract$ | async as caract">
  {{ caract.pseudo }}
  {{ caract.race }}
  {{ caract.niveau }}
  {{ caract.ilevel }}
  {{ caract.faction }}
  {{ caract.classe }}
</div>
<div *ngIf="stuff$ | async as stuff">
  <div *ngIf="stuff.tete">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.tete.id }}">{{
      stuff.tete.nom
    }}</a>
  </div>
  <div *ngIf="stuff.cou">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.cou.id }}">{{
      stuff.cou.nom
    }}</a>
  </div>
  <div *ngIf="stuff.epaules">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.epaules.id }}">{{
      stuff.epaules.nom
    }}</a>
  </div>
  <div *ngIf="stuff.dos">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.dos.id }}">{{
      stuff.dos.nom
    }}</a>
  </div>
  <div *ngIf="stuff.torse">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.torse.id }}">{{
      stuff.torse.nom
    }}</a>
  </div>
  <div *ngIf="stuff.chemise">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.chemise.id }}">{{
      stuff.chemise.nom
    }}</a>
  </div>
  <div *ngIf="stuff.tabard">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.tabard.id }}">{{
      stuff.tabard.nom
    }}</a>
  </div>
  <div *ngIf="stuff.brassard">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.brassard.id }}">{{
      stuff.brassard.nom
    }}</a>
  </div>
  <div *ngIf="stuff.mainDroite">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.mainDroite.id }}">{{
      stuff.mainDroite.nom
    }}</a>
  </div>
  <div *ngIf="stuff.mainGauche">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.mainGauche.id }}">{{
      stuff.mainGauche.nom
    }}</a>
  </div>
  <div *ngIf="stuff.mains">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.mains.id }}">{{
      stuff.mains.nom
    }}</a>
  </div>
  <div *ngIf="stuff.ceinture">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.ceinture.id }}">{{
      stuff.ceinture.nom
    }}</a>
  </div>
  <div *ngIf="stuff.jambes">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.jambes.id }}">{{
      stuff.jambes.nom
    }}</a>
  </div>
  <div *ngIf="stuff.pieds">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.pieds.id }}">{{
      stuff.pieds.nom
    }}</a>
  </div>
  <div *ngIf="stuff.bague1">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.bague1.id }}">{{
      stuff.bague1.nom
    }}</a>
  </div>
  <div *ngIf="stuff.bague2">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.bague2.id }}">{{
      stuff.bague2.nom
    }}</a>
  </div>
  <div *ngIf="stuff.bijou1">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.bijou1.id }}">{{
      stuff.bijou1.nom
    }}</a>
  </div>
  <div *ngIf="stuff.bijou2">
    <a href="{{ 'https://fr.wowhead.com/item=' + stuff.bijou2.id }}">{{
      stuff.bijou2.nom
    }}</a>
  </div>
</div>
