<div class="search-item-container">
  <label>Id de l'item recherché : </label>
  <input
    matInput
    [(ngModel)]="itemSearchInput"
    (keydown.enter)="onSearchItem()"
    name="itemSearchInput"
  />
  <button (click)="onSearchItem()">Rechercher</button>
</div>
<div *ngIf="ventes$ | async as ventes">
  <div>
    <ul *ngFor="let vente of ventes | keyvalue">
      <li>
        <span>{{ vente.key }}</span>
        <ul *ngFor="let heure of vente.value.heures | keyvalue">
          <li>{{ heure.key }}</li>
          <ul *ngFor="let vente of heure.value.ventes">
            <li>Prix/Unité: {{ vente.prix_unite }}</li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
</div>
